<nav class="navbar navbar-light bg-light">
    <!-- Logo and Prompt -->
    <div class="container-fluid">
        <!-- Logo -->

        <div>
            <a class="navbar-brand" href="/provider/">
                Shohayok Provider
            </a>
            <a>
                Home
            </a>
        </div>
        <!-- Prompt -->
        <div class="row">
            <a class="btn btn-primary col m-1" href="/provider/job/bid/">Bids</a>
            <a class="btn btn-primary col m-1" href="/provider/job/order/">Orders</a>
            <div class="col m-1">
                <form  action="/provider/logout" method="POST" class="my-logout-form">
                    <input type="submit" value="Sign Out" class="btn  my-non-btn">
                </form>
            </div>
        </div>
    </div>
</nav>