<div class="d-flex justify-content-center align-items-center flex-column">
    <img src="/bg.jpg" alt="" style="width: 70%;">
    <div class="mt-5">
      <a class="btn btn-primary" href="/job/custom/add">Add New Custom Job</a>
    </div>
  </div>
  