<nav class="navbar navbar-light bg-light">
    <!-- Logo and Prompt -->
    <div class="container-fluid">
        <!-- Logo -->

        <div>
            <a class="navbar-brand" href="/">
                Shohayok
            </a>
            <a>
                Home
            </a>
        </div>
        <!-- Prompt -->
        <div class="row">
            <a class="btn btn-primary col m-1" href="/job/custom/all">Custom</a>
            <a class="btn btn-primary col m-1" href="/job/order/">Orders</a>
            <div class="col">
                <form  action="/logout" method="POST" class="my-logout-form">
                    <input type="submit" value="Sign Out" class="btn  my-non-btn">
                </form>
            </div>
        </div>
    </div>
</nav>